*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# IDEA/Android Studio project files, because
# the project can be imported from settings.gradle.kts
.idea/*
!.idea/copyright
!.idea/codeInsightSettings.xml
# Keep the code styles.
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/icon*.svg
!/.idea/dictionaries
/.idea/dictionaries/*
!/.idea/dictionaries/dictionary.xml